/* 
    Author     : Islam Akef Ebeid
*/

body{
    margin: 5px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    overflow:auto;
    height: 100%;
}

header{
    width:1000px;
    height: auto;
    text-align:center;
    font-size: 24px;
    font-weight: 1000;
    letter-spacing: 0px;
    margin:0 auto;
    clear: both;
    overflow: hidden;
}

section{
    width:1000px; 
    margin:0 auto;
    clear: both;
}

footer{
    text-align:center;
    font-size: small;
    clear: both;
}

#logo{
    width:400px;
    margin:0 auto;
    height:80px;
}

#content{
    border: 2px solid #fff;
    background: #fff;
    padding: 5px;
    margin: 5px auto;
    width:1000px;
    height:100%;
    margin:0 auto;
    margin-left: auto;
    margin-right: auto;
}

.divTable{
	display: table;
	width: 100%;
        
}

.divTableRow {
	display: table-row;
       
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
        
}

.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 0px 0px;
        border: 0;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

button{
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 2px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 9px;
    color: #ffffff;
    background: #a9a9a9;
    text-decoration: none;
}

button:hover{
    background: #000;
    text-decoration: none;
}